body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('Assets/latar.jpg');
    background-size: cover; /* agar gambar selalu menutupi seluruh laman */
    background-position: center; /* agar gambar terletak di tengah laman */
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: relative;
}

header img {
    max-width: 150px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

section {
    padding: 50px 0;
}

h2 {
    text-align: center;
    color: #333;
}

p {
    color: #666;
    font-size: 16px;
    line-height: 1.6;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.social-media {
    list-style: none;
    padding: 0;
    text-align: center;
}

.social-media li {
    display: inline-block;
    margin-right: 10px;
}

.social-media li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s ease;
}

.social-media li a:hover {
    color: #ddd;
}
